.colorebackground{
    background-color: rgb(145, 21, 145);
}

.flexcont{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    width: 60vw;
    margin: 0 auto;
}

.cella{
    background-color: green;
    aspect-ratio: 1 / 1;
    color: gold;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.azzurro{
    background-color: blue;
}

