.flexcont{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.cella{
    background-color: green;
    aspect-ratio: 1 / 1;
    text-align: center;
    border: 1px solid black;
    font-size: 30px;
}

.azzurro{
    background-color: blue;
}